{% extends 'base.html' %}

{% block title %} Seus Dados {% endblock %}

{% block content %}

<div class="row">

    <div class="row-view">
        <div id="opt-row">

            <h2>Seus dados</h2>
            <p>Email: {{profileData[1]}} </p>
            <p>First Name: {{profileData[2]}}</p>
            <p>Last Name:{{profileData[3]}}</p>
            <p>Address 1: {{profileData[4]}}</p>
            <p>Address 2: {{profileData[5]}}</p>
            <p>Zip Code: {{profileData[6]}}</p>
            <p>City: {{profileData[7]}}</p>
            <p>State: {{profileData[8]}}</p>
            <p>Country: {{profileData[9]}}</p>
            <p>Phone Number: {{profileData[10]}}</p>
        </div>
    </div>
</div>

{% endblock %}